
    <footer>
        <div class="footer-content">
            <p>&copy; 2025 Formation360. Tous droits réservés.</p>
            <div class="social-links">
                <a href="https://web.facebook.com/p/Formation-360-61572475897538/?mibextid=LQQJ4d&rdid=ycRrv2mZ79ME5VvJ&share_url=https%3A%2F%2Fweb.facebook.com%2Fshare%2F1DH6jZKJLn%2F%3Fmibextid%3DLQQJ4d%26_rdc%3D1%26_rdr" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://whatsapp.com/channel/0029Vb3sml4LSmbkLdR8CL1q" target="_blank"><i class="fab fa-whatsapp"></i></a>
                <a href="https://www.instagram.com/form.ation360/" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </footer>
