<nav class="navbar">
        <div class="logo">
            <img src="/images/logo.svg" alt="Formation360 Logo">
            <span>Formation360</span>
        </div>
        <div class="nav-wrapper">
            <ul class="nav-links">
                <li><a href="/home">Accueil</a></li>
                <li class="dropdown">
                    <a href="#formations">Formations <i class="fas fa-chevron-down"></i></a>
                    <ul class="dropdown-content">
                        <li><a href="/programmationWeb">Programmation Web</a></li>
                        <li><a href="/javascript">JavaScript</a></li>
                        <li><a href="/photoshop">Adobe Photoshop</a></li>
                        <li><a href="/word">Microsoft Word</a></li>
                        <li><a href="/excel">Microsoft Excel</a></li>
                        <li><a href="/maintenace">Maintenance Informatique</a></li>
                    </ul>
                </li>
                <li><a href="/about">À Propos</a></li>
                <li><a href="/home">Inscription</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
        <div class="burger-menu">
            <div class="bar bar1"></div>
            <div class="bar bar2"></div>
            <div class="bar bar3"></div>
        </div>
    </nav>